* {
    padding: 0;
    margin: 0;
  }
  body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://media0.giphy.com/media/MCAFTO4btHOaiNRO1k/giphy.gif?cid=ecf05e47j175pm2ky7zazc0732i0z5b722njnajli6i4cbq8&rid=giphy.gif&ct=g");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    color: white  ;
  }
  
  .container {
    text-align: center;
  }
  
  .page-logo {
    margin-top: 15px;
    height: 45px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 5px 0;
  }
  
  button {
    background-color: #13d8f6;
    color: rgb(56, 53, 53);
    font-weight: bold;
    padding: 0.8rem 1.5rem;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    outline: none !important;
  }
  
  button:disabled,
  button:disabled:hover {
    background-color: #12434b;
    color: rgb(7, 7, 7);
    cursor: default;
  }
  
  button:hover {
    background-color: #03a0b8;
    color: rgb(255, 255, 255);
  }
  
  h2 {
    color: white;
  }
  
  #cartaEscolhida {
    margin: 15px;
    display: none;
  }
  
  #carta-jogador {
    width: 360px;
    height: 500px;
    overflow: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
  }
  
  #carta-jogador h3 {
    text-align: center;
  }
  
  .carta {
    background-color: grey;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    font-size: 1.3em;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 17px 5px rgba(0, 0, 0, 0.89);
    box-shadow: 5px 5px 17px 5px rgba(0, 0, 0, 0.89);
  }
  
  .nomeCarta {
    width: 200px;
    padding: 10px 0;
    background-color: rgb(238, 233, 233);
    color: #000;
    border-radius: 10px 10px 0 0;
  }
  
  .carta img {
    width: 200px;
    height: 130px;
    object-fit: cover;
  }
  
  .atributosCarta {
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 200px;
    border-radius: 0 0 10px 10px;
  }
  
  .carta .bg1,
  .carta .bg2 {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
  }
  
  .carta .bg1 {
    background-color: #31363a;
  }
  
  .atributosCarta div:nth-child(3) {
    border-radius: 0 0 10px 10px;
  }
  
  .carta .bg2 {
    background-color: #2a2e32;
  }
  
  .carta-imagem {
    border: 1px solid black;
    height: 100px;
    margin: 10px;
  }
  
  .carta-imagem img {
    width: 100%;
    height: 100%;
  }
  
  .carta-status {
    height: 160px;
    margin: 1.5rem;
  }
  
  .carta-status input {
    margin: 20px 10px;
  }
  
  .opcoes {
    color: white;
  }
  
  #campoBatalha {
    display: flex;
    justify-content: center;
    margin: 5px;
  }
  
  .cartaJogador {
    width: 200px;
  }
  
  .cartaMaquina {
    width: 200px;
  }
  
  .img-carta {
    height: 250px;
  }
  
  .img-x {
    width: 100px;
    margin: 0 50px;
  }
  
  .versus {
    align-self: center;
  }
  
  .pontuacao,
  #resultado {
    font-size: 1.5em;
  }
  
  #resultado {
    margin: 5px;
  }
  
  button {
    cursor: pointer;
  }
  
  #escolhaAtributo {
    display: none;
  }
  
  #escolhaAtributo input {
    margin: 15px 0;
  }
  
  #opcoes div {
    display: inline;
    margin: 0 15px;
  }
  
  #opcoes input {
    margin: 5px;
  }
  
  #reiniciarJogo {
    display: none;
  }
  